<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.shopping.mapper.ShopMapper">

	<select id="findAllShop" resultType="com.project.shopping.domain.Shop">
		select * from pt_shop
		<where>
			<if test="name != null and name != ''">
				 name LIKE concat(concat('%',#{name}),'%')
			</if>
			<if test="businessid!= 0">
				and businessid = #{businessid}
			</if>
			
		</where>
	</select>
	
	<select id="findAllShop1" resultType="com.project.shopping.domain.Shop">
		select * from pt_shop
		<where>
			<if test="name != null and name != ''">
				 name LIKE concat(concat('%',#{name}),'%')
			</if>
			<if test="businessid!= 0">
				and businessid = #{businessid}
			</if>
			
		</where>
		<if test="limit != 0">
				limit #{page},#{limit}
			</if>
	</select>
	
	<select id="selectAllShop" resultType="com.project.shopping.domain.Shop">
		select * from pt_shop
	</select>
	
	<select id="findShopInfo" resultType="com.project.shopping.domain.Shop">
		select * from pt_shop
		<where>
			<if test="shopid != 0">
				 shopid = #{shopid}
			</if>
		</where>
	</select>
	
	<update id="updateShop">
		update pt_shop
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="file != null and file != ''">
				file = #{file},
			</if>
			<if test="place != null and place != ''">
				place = #{place},
			</if>
			<if test="price != 0">
				price = #{price},
			</if>
			<if test="num != 0">
				num = num +  #{num}
			</if>
		</set>
		<where>
			<if test="shopid != 0">
				 shopid = #{shopid}
			</if>
		</where>
	</update>

	<insert id="insertShop">
		insert into pt_shop(name,file,price,place,businessid,num)
		values(#{name},#{file},#{price},#{place},#{businessid},#{num})
	</insert>
	
	<delete id="deleteShop">
		delete from pt_shop
		<where>
			<if test="shopid != 0">
				 shopid = #{shopid}
			</if>
		</where>
	</delete>

</mapper>