<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.shopping.mapper.UserMapper">

	<select id="userLogin" resultType="com.project.shopping.domain.User">
		select * from pt_user
		<where>
			<if test="username != null and username != ''">
				username = #{username}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
		</where>
	</select>

	<select id="userInfo" resultType="com.project.shopping.domain.User">
		select * from pt_user
		<where>
			<if test="userid != 0">
				userid = #{userid}
			</if>
		</where>
	</select>
	
	<update id="updateUser">
		update pt_user
		<set>
			<if test="username != null and username != ''">
				username = #{username},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="address != null and address != ''">
				address = #{address}
			</if>
		</set>
		<where>
			<if test="userid != 0">
				userid = #{userid}
			</if>
		</where>
	</update>

</mapper>